system_ext/apex/com.android.vndk.v30.apex
product/priv-app/Velvet/Velvet.apk
product/priv-app/MotCamera4/MotCamera4.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/Photos/Photos.apk
product/app/WebViewGoogle/WebViewGoogle.apk
